/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

body { margin: 0; }

/* ------------------------------------------------------------ *\
	App
\* ------------------------------------------------------------ */

.app { width: 720px; margin: 0 auto; }

/* ------------------------------------------------------------ *\
	Field
\* ------------------------------------------------------------ */

.field { width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #eee; border-radius: 5px; box-sizing: border-box; }

/* ------------------------------------------------------------ *\
	Tiles
\* ------------------------------------------------------------ */

.tiles { display: flex; flex-flow: row wrap; align-items: center; justify-content: space-between; margin: 0 -5px; }

/* ------------------------------------------------------------ *\
	Tile
\* ------------------------------------------------------------ */

.tile { box-sizing: border-box; flex: 0 0 10%; max-width: 10%; padding: 0 5px; margin-top: 10px; position: relative; }

.tile .tile__inner { width: 100%; padding-bottom: 100%; background-color: #eee; border-radius: 5px; -webkit-transition: background-color .4s; -o-transition: background-color .4s; transition: background-color .4s; }
.tile .tile__inner:before { content: attr(data-index); display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 2; -webkit-transition: color .4s; -o-transition: color .4s; transition: color .4s; }
.tile.is--highlighted .tile__inner { background-color: red; }
.tile.is--highlighted .tile__inner:before { color: white; }
